.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.btn {
    background-color: #1c1e22;
    color: yellow;
    border: 1px solid rgba(0, 0, 0, 0.916);
    transition: 0.3s;

    &:hover {
        background-color: #343a40cb !important;
    }
}